.about-ribbon {
    width: 100%;
    height: 48vh;
    /*background-color: #3F51B5;*/
    background-image: url('http://7xo1lx.com1.z0.glb.clouddn.com/statics/images/bg/about.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.msg-board-ribbon {
    width: 100%;
    height: 48vh;
    /*background-color: #3F51B5;*/
    background-image: url('http://7xo1lx.com1.z0.glb.clouddn.com/statics/images/bg/msgboard.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.about-main {
    max-width: 960px;
    width: calc(100% - 16px);
    margin: -40vh auto 70px auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.about-container {
    margin: 0 auto;
}

.about-div {
    border-radius: 2px;
}

.about-content {
    padding: 40px;
    /*padding: 80px 56px;*/
    /*margin-bottom: 80px;*/
}

.docs-layout.is-small-screen .about-content {
    padding: 30px;
}
