.cate-div {
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 8px;
    background: #ffffff;
}

.markdown-div .markdown-text, .md-preview {
    padding: 10px;
    background: #ffffff;
}

.select-btn {
    background-color: #e6e6e6;
}

#upload-panel {
    border: 1px dashed #D9D9D6;
    background-color: #FFF;
    color: #999;
    font-size: .92857em;
}

.p {
    margin: 1em 0;
}

.upload-area {
    padding: 15px;
    text-align: center;
}

#uploaded-files {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    max-height: 436px;
    overflow: auto;
    word-break: break-all;
}

#uploaded-files li {
    padding: 8px 0;
    border-top: 1px dashed #D9D9D6;
}

#uploaded-files .insert {
    display: block;
    max-width: 100%;
}

#uploaded-files li, #uploaded-files .insert {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

