#dataTable .comment-article {
    font-size: .92857em;
    color: #999;
}

#dataTable .comment-gap-3 div {
    padding-top: 3px;
    padding-bottom: 3px;
}

#dataTable .comment-gap-6 div {
    padding-top: 6px;
    padding-bottom: 6px;
}

#dataTable tr td .hidden-by-mouse {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}

#dataTable tr:hover td .hidden-by-mouse {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

.hidden-by-mouse a, .hidden-by-mouse span {
    margin-right: 8px;
}

#dataTable a.operate-edit {
    color: #070;
}

#dataTable a.operate-reply {
    color: #545c30;
}

#dataTable a.operate-delete {
    color: #B94A48;
}

#dataTable .edit-div {
    margin: 30px 5px;
}
