.tag-main input[type="checkbox"] {
    margin-right: 3px;
}

.tag-main ul.tag-list {
    list-style: none;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

.tag-main ul.tag-list li {
    display: inline-block;
    margin: 0 0 5px 0;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
}

.tag-main ul.tag-list li:hover {
    background-color: #eee;
}

.tag-main ul.tag-list li input {
    display: none;
}

.tag-main ul.tag-list li.checked {
    background-color: #ffecb2;
    /*FFFBCC*/
}

.tag-main ul.tag-list li.size {
    font-size: 1em;
}

.tag-main .tag-edit-link {
    visibility: hidden;
}

.tag-main li:hover .tag-edit-link {
    visibility: visible;
}


