<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>

    <!-- 演示按时间滚动的策略 -->
    <appender name="defaultlogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/mnt/app/logs/JBlog.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/mnt/app/logs/JBlog.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留 30天数据，默认无限-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    &lt;!&ndash; 按文件大小滚动的策略 &ndash;&gt;
    <appender name="metricsLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/mnt/logs/metrics.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/mnt/logs/metrics.%i.log</fileNamePattern>
            &lt;!&ndash; 最多保留10个文件，默认是7 &ndash;&gt;
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    &lt;!&ndash; 综合时间与大小的滚动策略，先按小时滚动，小时内的文件大于10mb时再按大小滚动 &ndash;&gt;
    <appender name="businessLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/mnt/logs/business.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/mnt/logs/business-%d{yyyy-MM-dd_HH}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS},%msg%n</pattern>
        </encoder>
    </appender>
-->

    <!-- project default level -->
    <logger name="com.caliven.blog" level="INFO"/>
    <!--
    &lt;!&ndash; business log 使用独立的appender，不继承Root的appender &ndash;&gt;
    <logger name="business" level="INFO" additivity="false">
        <appender-ref ref="businessLogFile"/>
    </logger>

    &lt;!&ndash; metrics log 使用独立的appender，不继承Root的appender &ndash;&gt;
    <logger name="metrics" level="INFO" additivity="false">
        <appender-ref ref="metricsLogFile"/>
    </logger>-->

    <!-- root -->
    <root level="WARN">
        <appender-ref ref="defaultLogFile"/>
    </root>
</configuration>