<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>

    <!-- 演示按时间滚动的策略 -->
    <appender name="defaultlogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/mnt/app/logs/JBlog.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/mnt/app/logs/JBlog.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留 30天数据，默认无限-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- project default level -->
    <logger name="com.caliven.blog" level="INFO"/>
    <!-- root -->
    <root level="WARN">
        <appender-ref ref="defaultLogFile"/>
    </root>
</configuration>